<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="lunar-menu">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
      a {
        text-decoration: none;
        color: var(--light-primary-opacity);
      }
      #container {
        display: flex;
      }
      paper-button {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
      }
      paper-button.link:hover {
        color: var(--paper-blue-100);
      }
    </style>

    <iron-selector attr-for-selected="name">
      <div id="container">
        <template is="dom-repeat" items="[[_menus]]">
          <paper-button class="link">
            <a href="[[rootPath]][[item.path]]">[[item.name]]</paper-button>
        </template>
      </div>
    </iron-selector>
  </template>

  <script>
    class LunarMenu extends Polymer.Element {
      static get is() { return 'lunar-menu' }

      static get properties() {
        return {
          _menus: {
            type: Array,
            value: () => [
              {
                'name': 'About',
                'path': 'about'
              },
              {
                'name': 'Games',
                'path': 'games'
              },
              {
                'name': 'Portfolio',
                'path': 'portfolio'
              },
              {
                'name': 'My Passion',
                'path': 'mypassion'
              },
              {
                'name': 'Videos',
                'path': 'videos'
              }
            ]
          },
          rootPath: String
        }
      }
    }

    window.customElements.define(LunarMenu.is, LunarMenu);
  </script>
</dom-module>
