<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="portfolio-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .container {
        max-width: 77vw;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;  
        justify-content: center;  
      }
      .image {
        padding: 16px;
        flex: 2;
      }
      .icons {
        display: flex;
        padding: 8px;
        justify-content: space-evenly;
        flex: 1;
      }
      .icons:hover {
        
      }
      paper-button {
        width: 100%;
        height: 100%;
        margin: 0;
      }
      paper-icon-button:hover {
        color: var(--lunar-secondary-color);
      }
      iron-image {
        text-align: -webkit-center;
        padding: 16px;
      }
      paper-dialog {
        width: 80vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
      } 
      paper-dialog .image,
      paper-dialog .icons {
        margin: 0;
        text-align: center;
      }
      paper-dialog iron-image {
      }
    </style>
    <div class="container">
      <template is="dom-repeat" items="[[_images]]">
        <div class="image-card">
          <div class="image">
            <paper-button on-click="_openImage">
              <iron-image src="[[item.src]]" class="drawing"></iron-image>
            </paper-button>
          </div>
          <div class="icons">
            <div>
              <paper-icon-button icon="icons:favorite"></paper-icon-button>
              [[item.likes]]
            </div>
            <div>
              <paper-icon-button icon="editor:mode-comment"></paper-icon-button>
              [[item.comments]]
            </div>
            <div>
              <paper-icon-button icon="icons:file-download"></paper-icon-button>
              [[item.downloads]]
            </div>
          </div>
        </div>
      </template>
    </div>
    <paper-dialog id="dialog" 
                  on-iron-overlay-opened="_patchOverlay" 
                  with-backdrop>
      <div class="image">
        <iron-image src="[[_selected.src]]" id="imageDialog">Image not found</iron-image>
      </div>
      <div class="icons">
            <div>
              <paper-icon-button icon="icons:favorite"></paper-icon-button>
              [[item.likes]]
            </div>
            <div>
              <paper-icon-button icon="editor:mode-comment"></paper-icon-button>
              [[item.comments]]
            </div>
            <div>
              <paper-icon-button icon="icons:file-download"></paper-icon-button>
              [[item.downloads]]
            </div>
          </div>
    </paper-dialog>
  </template>

  <script>
    class PortfolioView extends Polymer.Element {
      static get is() { return 'portfolio-view' }

      static get properties() {
        return {
          _images: {
            type: Array,
            value: () => [
              {
                'src': '../images/favicon.ico',
                'likes': 4,
                'downloads': 5,
                'comments': 6 
              },
              {
                'src': '../images/favicon.ico',
                'likes': 2,
                'downloads': 5,
                'comments': 8
              },
              {
                'src': '../images/manifest/icon-72x72.png',
                'likes': 1,
                'downloads': 5,
                'comments': 2
              },
              {
                'src': 'About',
                'likes': 0,
                'downloads': 5,
                'comments': 0
              },
              {
                'src': 'About',
                'likes': 40,
                'downloads': 5,
                'comments': 10
              },
              {
                'src': 'About',
                'likes': 40,
                'downloads': 5,
                'comments': 10
              }
            ]
          },
          _selected: {
            type: Object,
            value : () => {}
          }
        }
      }

      _openImage (e) {
        if (!e || !e.model || !e.model.__data) return
        const image = e.model.__data
        this.set('_selected', image.item)
        this.$.dialog.open()
      }

      _patchOverlay (e) {
        if (e.target.withBackdrop) {
          e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
        }
      }
    }

    window.customElements.define(PortfolioView.is, PortfolioView);
    </script>
  </dom-module>
